<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

<!-- build:template
<link rel="stylesheet" type="text/css" href="css/main.css?v=<%= random %>">
/build -->
<!-- build:remove -->
	<link rel="stylesheet/less" type="text/css" href="css/main.less" />
	<script type="text/javascript" src="js/less.min.js"></script>
<!-- /build -->

</head>
<body>
	<div class="div1">11111 <span>123</span></div>
	<div>2</div>
	<img src="images/timg.jpg">


<!-- build:template
<script type="text/javascript" src="js/app.min.js?v=<%= random %>"></script>
/build -->
<!-- build:remove -->
	<script type="text/javascript" src="js/f1.js"></script>
	<script type="text/javascript" src="js/f2.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
<!-- /build -->
</body>
</html>